.top_icon{
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.header_url{
    color : white;
    opacity : 70%;
    font-weight: 350;
    font-size: 12px;
}

.header_icon{
    font-size: 20px;
    color: var(--white);
    opacity: 70%;
}