.intro{
    width: 100vw;
    height: 70vw;
}

.intro_video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inform_start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: var(--white);
    padding: 0 20vw;
}
.inform_text{
    font-size: 21px;
    opacity: 50%;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.8rem;
}

.price{
    margin: 50px 0;
    opacity: 50%;
}

.inform_url{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.watch_event{
    margin-right: 10px;
}

.watch_video{
    margin-left: 10px;
}

.video_container_size{
    width: 100vw;
}

.video_size{
    width: 100%;
    object-fit: cover;
}

.device_size_text{
    height: 20vh;
    color : var(--white);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    line-height: 5rem;
}

.device_side_text{
    position: absolute;
    top: 10%;
    left: 10%;
    writing-mode: vertical-lr;
    color: var(--white);
    font-size: 3vw;
    font-weight: bold;
}

.device_side_text1{
    margin-right: 10px;
    opacity: 0;
}

.device_side_text2{
    opacity: 0;
}

.iphone_5g{
    height : 40vh;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 70px;
    font-weight: bold;
}

.fast_5g{
    opacity: 0.5;
}

.hello_5g{
    opacity: 1;
}

.iphone_5g_av{
    position: relative;
}

.iphone_5g_video{
    margin-top: 10vh;
}

.iphone_5g_text{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iphone_5g_text1{
    padding: 20vh 15vw 10vh 15vw;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 2rem;
    opacity: 0.5;
}

.iphone_5g_text2{
    padding: 0 15vw;
    font-size: 30px;
    font-weight: bold;
    color: #34c3eb;
    margin-bottom: 5vh;
    text-align: center;
}

.iphone_button{
    border: 1px solid #34c3eb;
    padding: 10px;
    border-radius: 10% / 50%;
}

.for_iphone_5g_av_text_start{
    position: absolute;
    top: 10vh;
}

.cpu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30vh 0;
    color: var(--white);
    text-align: center;
}

.cpu_name{
    padding: 0 15vw;
    line-height: 4.5rem;
    font-size: 55px;
    font-weight: bold;
    opacity: 0.5;
}

.cpu_best{
    padding: 0 15vw;
    margin: 15px 0;
    line-height: 4.5rem;
    font-size: 55px;
    font-weight: bold;
}

.cpu_information{
    padding: 0 15vw;
    margin-top: 15px;
    font-size: 20px;
    opacity: 0.5;
}

.cpu_more_information{
    padding : 50px 15vw;
}

.cpu_better{
    color: #34c3eb;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 60px;
}

.lidar{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color : var(--white);
    text-align: left;
}

.lidar_name{
    width: 70%;
    font-size: 55px;
    font-weight: bold;
    opacity: 0.5;
}

.lidar_information{
    width: 70%;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 20vh;
}

.lidar_video{
    margin : 10vh 0;
}

.lidar_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20vh 15vw;
}

.lidar_information_text{
    font-size: 20px;
    opacity: 0.5;
    padding: 30px 8vw;
}

.lidar_tech_text{
    color:  #34c3eb;
    font-size: 25px;
}

.lidar_tech_text1{
    padding: 30px 5vw;
}

.lidar_tech_text2{
    border-top: 1px solid  #34c3eb;
    padding: 30px 5vw;
}

.lidar_button{ 
    font-size: 16px;
    color: var(--white);
}

.camera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.camera_information{
    padding: 20vh 15vw;
    color: var(--white);
    font-size: 45px;
    font-weight: bold;
}

.camera_information1{
    padding: 20px 0;
    opacity: 0.5;
}

.camera_text{
    padding: 20vh 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
}

.camera_text1{
    color: var(--white);
    font-size: 20px;
    opacity: 0.7;
}

.camera_text2{
    padding: 50px 0;
    color: #34c3eb;
    font-size: 25px;
}

.camera_spec{
    padding : 30px 0;
    border-bottom: 1px solid #34c3eb;
    opacity: 0.7;
}

.camera_spec1{
    padding : 30px 0;
    opacity: 0.7;
}

.camera_button{
    color: var(--white);
    font-size: 16px;
}

.magsafe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.magsafe_information1{
    font-size: 40px;
    font-weight: bold;
    opacity: 0.5;
}

.magsafe_information2{
    margin-bottom: 20vh;
    padding: 10px 0;
    font-size: 40px;
    font-weight: bold;
}

.more_information{
    width: 70vw;
    padding : 20vh 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.more_information_text{
    font-size: 35px;
    text-align: center;
}

.more_information1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.more_information_text1{
    width: 100%;
    margin-top : 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.more_information span{
    width: 30%;
}

.more_information_title{
    font-size: 13px;
}

.more_information_sub{
    font-size: 13px;
    opacity: 0.5;
}
