.buy_clever{
    width: 70%;
    padding : 10vh 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-align: center;
}

.buy_clever_text{
    font-size: 35px;
    margin-bottom: 50px;
}

.nav_box {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.nav_title_box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav_sub_box{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.nav_title{
    font-size: 18px;
}

.nav_sub{
    font-size: 15px;
    opacity: 0.5;
}

.nav_box span{
    width: 45%;
}

.nav_button_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_button{
    margin-top: 20px;
    width: 45%;
    color: #42b0f5;
    margin-bottom: 20px;
}

.consult{
    position: relative;
    left: 10vw;
    padding: 10vh 5vw;
    width : 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color : var(--white);
    text-align: center;
    border-top: 1px solid rgb(255,255,255, 0.5);
}

.nav_icon_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav_icon_box i{
    font-size: 35px;
    width: 45%;
    margin: 20px 0;
    opacity: 0.5;
}

.consult_title{
    font-size: 15px;
}

.consult_sub{
    font-size: 12px;
}

.consult_button{
    margin-top: 20px;
    width: 45%;
    color: #42b0f5;
    margin-bottom: 20px;
    font-size: 12px;
}

