@import url("./css/reset.css");
@import url("./css/variable.css");
@import url("./css/header.css");
@import url("./css/footer.css");
@import url("./css/icon_design.css");
@import url("./css/buy_set_sticky.css");
@import url("./css/main.css");
@import url("./css/nav.css");

body{
    margin : auto;
    font-family: sans-serif;
    background-color: black;
}


header{
    width: 98vw;
    margin: auto;
}

main{
    z-index: 2;
}

footer{
    width: 98vw;
    margin: auto;
}

